# -*- coding: utf-8 -*-
# 설치마다 변경해야 하는 setting 값은 여기에

ALLOWED_HOSTS = [u'localhost',
                 u'127.0.0.1',]

# DB Setting
USE_MYSQL = False

DATABASE_USER = 'root'
DATABASE_PASSWORD = 'dbpw'
DATABASE_NAME = 'labeler_db'
DATABASE_HOST = '127.0.0.1'
DATABASE_PORT = ''

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': DATABASE_NAME,
        'USER': DATABASE_USER,
        'PASSWORD': DATABASE_PASSWORD,
        'HOST': DATABASE_HOST,
        'PORT': DATABASE_PORT,
    }
}