<table class="table table-hover">
    <tbody>
        <tr>
            <th>programName</th>
            <td>{{ media.programName }}</td>
        </tr>
        <tr>
            <th>localFile</th>
            <td>{{ media.localFile }}</td>
        </tr>
        <tr>
            <th>localAudioFile</th>
            <td>{{ media.audioFile }}</td>
        </tr>
        <tr>
            <th>registerDateTime</th>
            <td>{{ media.registerDateTime }}</td>
        </tr>
        <tr>
            <th>lastSavedDateTime</th>
            <td>{{ media.lastSavedDateTime }}</td>
        </tr>
        <tr>
            <th>Resolution / Framerate</th>
            <td>{{ info.width }}x{{ info.height }} / {{ info.framerate }}</td>
        </tr>
    </tbody>
</table>